input{
    border: 2px solid black;
    
    height: 25px;
    width: 150px;
    text-align: center;
    border-radius: 10px;
}

body{
    background-color: gray;
    margin-left: 30%;
}

button{
    border: 2px solid black;
    
    height: 25px;
    width: 150px;
    text-align: center;
    border-radius: 10px;
}

h1{
    margin-left: 15%;
}