body {
	background-color: magenta;
}

h1, h2, h3 {
	color: grey;
	text-align: center;
	font-family: sans-serif;
}

p{
	color: pink;
}

div {
	border: 4px solid black;
	width: 75%
	margin-left : auto;
	margin-right: auto;
	margin-bottom: 5%;
	padding: 3%
}

.d1 {
	background-color: yellow;
}

.d2 {
	background-color: blue;
}

.d3 {
	background-color: lightgrey;
}