body {
    background-color: grey;
}

button {
    width: 250px;
    height: 200px;
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 26px;
    font-size: 2em;
    margin: 30px;
    transition: 0.2s;
}

button:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
    transition: 150ms;
}